# PYTHON HOMEWORK
### Vanindra - Data Science Batch 21

1. Tulis fungsi Python untuk menemukan angka terbesar dari tiga angka.

In [1]:
#simple command if the values are known
nomor1 = (10,20,30)

print(max(nomor1))

30

In [2]:
#function which functional for different sets of data with 3 values
def max1(x,y,z): #di definisikan dulu fungsi yang diinginkan
    if x > y and x > z: #kita gunakan saja if and untuk menentukan kondisi agar tidak overlap
        return x #disini return yang diharapkan adalah x apabila ia lebih besar daripada y dan z
    if y > x and y > z: #disini kita mendefinisikan apa yang terjadi saat y lebih besar dari x dan z
        return y #ini adalah return yang kemudian diharapkan
    else: #else digunakan karena hanya z yang perlu didefinisikan
        return z

In [3]:
max1(30,20,21)

30

In [4]:
max1(20,21,39)

39

In [5]:
max1(100,200,300)

300

In [6]:
#we can use this function for more than 3 values
def maks1(*args): #(Bonus) fungsi args digunakan saat values yang ada tidak diketahui jumlahnya
    return max(args)

In [7]:
maks1(1,3,4,5,6,7,4,2,4,5,6,7,7,6,4,2,3,4,5,2,100,200,3000)

3000

2. Tulis fungsi Python untuk menjumlahkan semua angka dalam list.

In [8]:
#untuk simplicity, kita bisa gunakan function args
def jumlah(*args2): #pertama kita definisikan dulu si argsnya
    return sum(args2) #dan ini adalah return yang diharapkan. Sum artinya jumlah dari seluruh angka yang ada dalam list
#tapi fungsi diatas tidak akan berfungsi jika tipe data bukan tuple

In [9]:
print('terjadi type error')
angka = [1,3,4,5,6,7,4,2,4,5,6,7,7,6,4,2,3,4,5,2,100,200,3000]
jumlah(angka)

terjadi type error

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [10]:
def jumlah_list(n): #ini fungsi yang digunakan untuk type list
    return sum(n)

In [12]:
angka = [1,3,4,5,6,7,4,2,4,5,6,7,7,6,4,2,3,4,5,2,100,200,3000]
jumlah_list(angka)

3387

In [13]:
jumlah(1,3,4,5,6,7,4,2,4,5,6,7,7,6,4,2,3,4,5,2,100,200,3000)

3387

In [14]:
total = (1,3,4,5,6,7,4,2,4,5,6,7,7,6,4,2,3,4,5,2,100,200,3000)

sum(total)

3387

In [15]:
sum(angka) #Bisa pakai perintah sum jika tidak ingin membuat fungsi

3387

3. Tulis fungsi Python untuk mengalikan semua angka dalam list. 
Sample list : [8, 2, 3, -1, 7], Output yang Diharapkan : -336

In [16]:
#Sample list : [8, 2, 3, -1, 7], Output yang Diharapkan : -336

sample = [8,2,3,-1,7]

def multiply(list3): #fungsinya harus didefinisikan terlebih dahulu
    result = 1 #ini digunakan sebagai parameter atau patokan 
    for i in list3:
        result = i*result #looping jadi result0 kan 1, result 1 8x1, kemudian result 2 8x2
    return result #result 3 16x3, and so on karena tiap loop dilakukan, si result ini valuenya akan berubah
#result kemudian dikalikan ke masing-masing angka dalam list sampai akhirnya loop selesai pada angka 7

print(multiply(sample))

-336

4. Tulis program Python untuk membalikkan string.
Contoh String : "1234abcd", Output yang Diharapkan : "dcba4321"

In [17]:
rev = "1234abcd" #untuk membalik ini, kita gunkan slice technique

In [18]:
print(rev[::-1]) 
#slice technique. minus 1 di belakang artinya 
#kita print stringnya dari belakang maju kedepan dengan interval 1 (tidak lompat)

dcba4321

5. Tulis fungsi Python yang menerima string dan menghitung jumlah
huruf besar dan huruf kecil.
##### Contoh String : 'Hello World' , Output yang Diharapkan : Jumlah Karakter Huruf Besar : 2 dan Jumlah Karakter Huruf Kecil : 8

In [19]:
string5 = "Hello World"

string5

'Hello World'

In [20]:
uppercase = sum(1 for alpha in string5 if alpha.isupper()) #1 = True, alpha just a name, string5 variabel
lowercase = sum(1 for alpha in string5 if alpha.islower()) #isupper/lower commandnya, sum command jumlah

#Jadi baik di upper maupun lowercase, kita menghitung banyaknya uppercase dan lowecase menggunakan command sum
#Tentunya kita hanya menghitung yang corresponding sehingga kita padukan dengan tipe Boolean 1 = True
#1 merepresentasikan true, artinya hanya menghitung yang sesuai kriteria.

print(uppercase, "<- This is total of uppercase")
print(lowercase, "<- This is total of lowercase")

2 <- This is total of uppercase
8 <- This is total of lowercase

In [21]:
# if using true instead of 1. same result
uppercase = sum(True for alpha in string5 if alpha.isupper()) 
lowercase = sum(True for alpha in string5 if alpha.islower()) 

print(uppercase, "<- This is total of uppercase")
print(lowercase, "<- This is total of lowercase")

2 <- This is total of uppercase
8 <- This is total of lowercase

6. Tulis fungsi Python yang mengambil daftar dan mengembalikan list
baru dengan elemen unik dari list pertama.
##### Sample list : [1,2,3,3,3,3,4,5], Unique list : [1, 2, 3, 4, 5]

In [22]:
sample = [1,2,3,3,3,3,4,5]

#First let's use Numpy unique() function
#Second without Numpy

In [23]:
import numpy as np

In [24]:
np.unique(sample) #dengan menggunakan numpy, kita bisa mengambil unique dengan command .unique()

array([1, 2, 3, 4, 5])

In [25]:
#fungsinya adalah demikian
def unique(n): #didefinisikan dahulu dengan def
    return np.unique(n) #kemudian ini adalah returnya

print(unique(sample))

[1 2 3 4 5]

In [26]:
#ini adalah fungsi tanpa menggunakan numpy
def uniquelist(x):
    return set(x) #set digunakan kareena sifat dalam set adalah tidak ada duplikat. otomatis semua value adalah unique

In [27]:
print(uniquelist(sample), '<- set type')
print(type(uniquelist(sample)), '<- set type')
print(list(uniquelist(sample)), '<- list type') #kalau tipenya mau dijadikan list, sesederhana menambahkan perintah list
print(type(list(uniquelist(sample))), '<- list type')

{1, 2, 3, 4, 5} <- set type
<class 'set'> <- set type
[1, 2, 3, 4, 5] <- list type
<class 'list'> <- list type

In [28]:
def uniquelist2(x):
    return list(set(x))

In [29]:
print(uniquelist2(sample))
print(type(uniquelist2(sample)))

[1, 2, 3, 4, 5]
<class 'list'>

In [30]:
#tapi kalau tidak mau membuat fungsi, bisa menggunakan perintah set walaupun harus satu persatu

set(sample)

{1, 2, 3, 4, 5}

In [31]:
#let's do another one to make sure
sample2 = [1,1,1,1,1,2,3,4,5,5,6,3,3,4,5,6]

print(set(sample2), "<-set bahkan mengurutkan dari angka terkecil")

{1, 2, 3, 4, 5, 6} <-set bahkan mengurutkan dari angka terkecil

7. Tulis fungsi Python yang menggunakan angka sebagai input
parameter dan periksa angkanya prima atau tidak

##### digunakan for loop karena kita membuat sebuah range. i harus ngerange dari 2 sampai ke sebelum nomor yang dicari. kalau ada angka lain selain 1 dan (num) yang membagi habis, maka ia bukan bilangan prima

In [32]:
def prime(num):
    if num>1: #bilangan prima harus lebih dari 1
        for i in range(2,num): #for loop digunakan karena ada range tertentu di fungsi ini
            if (num % i) == 0: #bilangan prima hanya boleh habis dibagi 1 dan bilangan itu sendiri
                #dia akan meloop dari list range untuk menemukan apakah ada bilangan lain yang habis membagi si 'num' selain 1 dan angka (num) itu sendiri
                return "{} is not prime".format(num) #return jika ada angka lain yang habis membagi si 'num'
                break
        else:
            return "{} is prime".format(num) #return saat tidak ada angka dalam range yang habis membagi 'num'
    else:
        return "Must be greater than 1" #bilangan prima harus lebih dari 1

In [33]:
prime(59)

'59 is prime'

In [34]:
prime(0)

'Must be greater than 1'

In [35]:
prime(23)

'23 is prime'

In [36]:
prime(29)

'29 is prime'

In [37]:
prime(50)

'50 is not prime'

In [38]:
prime(51)

'51 is not prime'

8. Tulis program Python untuk mencetak bilangan genap dari list yang
diberikan.
##### Sample list : [1, 2, 3, 4, 5, 6, 7, 8, 9], Hasil yang Diharapkan : [2, 4, 6, 8]

In [39]:
sample8 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
genap = []
ganjil = []

for i in sample8: #digunakan for loop
    if i%2==0: #sifat bilangan genap adalah habis dibagi 2
        genap.append(i) #saat i merupakan bilangan yang habis dibagi 2, ia dimasukkan ke list genap
    else:
        ganjil.append(i) #apabila i tidak habis dibagi 2, maka ia ditambahkan ke list ganjil
print(genap, '<- ini adalah list genap')
print(ganjil, '<- ini adalah list ganjil')

[2, 4, 6, 8] <- ini adalah list genap
[1, 3, 5, 7, 9] <- ini adalah list ganjil